  <!-- Bottom Nav. -->
  <footer>
    <nav class="text-center text-white p-3 navbar fixed-bottom navbar-dark bg-dark" style="background-color: #2d2d2d;">
      
      <h6 class="display-7 navbar-text"> &nbsp;&nbsp;&nbsp;  &copy; Copyright 2022. All rights reserved to Mehak kaur</h6>
    </nav>
  </footer>