<!--
    File Name:footer.ejs
    Name: Mehak kaur 
    Student ID 301232188
    Date 20 October, 2022
  -->
<!-- Script Section. -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>

</html>