
<!-- Page title. -->

   <!--
    File Name:title.ejs
    Name: Mehak kaur 
    Student ID 301232188
    Date 20 October, 2022
  -->
<main class="container">
    <div class="jumbotron">
      <h1 style="margin: 20px;" class="display-4"><strong><%= title %></strong></h1>
    </div>
  </main>