<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>

    <!--File Name:about.ejs
    Name: Mehak Kaur.
    Student ID 301232188
    Date: 6 October 2022-->

    <!-- About me content -->

    <html>
    <head></head>
    <body>
      <div class="align-center">
        <div class="about-container">
          <div class="image-about-container">
            <div class="image-about">
              <img src="/Assets/images/passimage.JPG" alt="">
            </div>
            <br>
            <p style="text-align: center;font-size: 30px;font-weight: bold;">Mehak Kaur</p>
            <div style="text-align:center ;">
              <a class="btn btn-primary" href="/contact" style="background-color: palevioletred;border: none;">Contact
                Me</a>
            </div>
          </div>
          <div class="image-about-content">
            <div>
              <h4>Student No.: 301232188</h4>
              <p style="line-height: 1.5rem;"> Hello!! I'm a third semester student at the Centennial college
                studying<br />
                Software Engineering Technician. I am from India, Delhi but currently I
                am living<br />
                in Scarborough, Canada. My hobbies are to travel around and meet new
                people.<br /></p>

              <a class="btn btn-primary"
                href="https://drive.google.com/file/d/1CT7VuFKTp2kcvrp0x8gJ--4Ua7GgK7xD/view?usp=sharing"
                target="_blank">Click Here to open my Resume</a>
            </div>
          </div>
        </div>
      </div>
    </body>

    </html>
    <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>