<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>
    <!--File Name:contact.ejs
    Name: mehak kaur 
    Student ID 301232188
    Date 6 October, 2022-->
    <div class="align-center">
      <div class="flex-contact">
        <div class="block-form">
          <h1>Contact Me</h1>
          <br>
          <form id="ContactForm" method="POST" action="/submitContact">
            <!-- NAME -->
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Full Name" name="name">
                <label for="floatingInputGroup1">Your Name</label>
              </div>
            </div>

            <!-- EMAIL -->
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="bi bi-envelope"></i></span>
              <div class="form-floating">
                <input type="email" class="form-control" id="floatingInputGroup1" placeholder="Email Adderess"
                  name="email">
                <label for="floatingInputGroup1">Email Adderess</label>
              </div>
            </div>
            <!-- PHONE -->
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="bi bi-telephone-forward"></i></span>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Email Adderess"
                  name="contactNumber">
                <label for="floatingInputGroup1">Contact Number</label>
              </div>
            </div>
            <!-- DESCRIPTION -->
            <div class="form-floating">
              <textarea style="height: 200px;" class="form-control" placeholder="Leave a comment here"
                id="floatingTextarea" name="additionalInfo"></textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
            <div style="text-align: left;">
              <button style="margin: 20px 0;text-align: left;" class="btn btn-primary" type="submit">Submit
                Form</button>
            </div>
          </form>
        </div>

        <div class="block-contactMe">
          <div class="contact-me-content">
            <div class="icon-contactMe">
              <i class="bi bi-telephone-fill"></i>
            </div>
            <p>+1 (647)-865-2680</p>
          </div>
          <div class="contact-me-content">
            <div class="icon-contactMe">
              <i class="bi bi-envelope"></i>
            </div>
            <p>mkaur864@my.centennialcollege.ca</p>
          </div>
          <div class="contact-me-content">
            <div class="icon-contactMe">
              <i class="bi bi-instagram"></i>
            </div>
            <p>mehak_.kaur21</p>
          </div>
          <div class="contact-me-content">
            <div class="icon-contactMe">
              <i class="bi bi-github"></i>
            </div>
            <p>MehakKaur21</p>
          </div>

        </div>
      </div>
    </div>



    <%- include partials/bottom_nav.ejs %>