/**
  * app.css
  * mehak kaur 
  * 301232188
  * Oct 6, 20212
*/
.myimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
    height: 80;
  }
  .lefttext {
    display: block;
    text-align: left;
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .container{  
    text-align: center;
    }  
    body{
      background-color: papayawhip;
  }
  
  h3{
      color: black;
  }
  
  button{
      background-color: darksalmon;
  }  
     #left{    
      float: left;  
      }  
      #right{    
      float: right;
    }
form {
  text-align: center;
}



table.GeneratedTable {
width:100%;
background-color:#f87ad2;
border-collapse:collapse;border-width:2px;
border-color:#091100;
border-style:solid;
color:#f5f5f5;
}

table.GeneratedTable td, table.GeneratedTable th {
border-width:2px;
border-color:#030303;
border-style:solid;
padding:3px;
}

table.GeneratedTable thead {
background-color:#000000;
}

body {
  background-image: url('/Assets/images/background2.png');
  background-repeat: no-repeat;
}


/* style=" */
@media screen and (min-width:1000px){
  #navbarSupportedContent{
    display: flex;
    justify-content:space-between;
    padding: 0 20px;
  }
}
