/**
  * app.css
  * mehak kaur 
  * 301232188
  * Oct 6, 20212
*/
.myimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
  height: 80;
}

.lefttext {
  display: block;
  text-align: left;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  text-align: center;
}

body {
  background-color: papayawhip;
  min-height: 100vh;
}

h3 {
  color: black;
}

button {
  background-color: darksalmon;
}

#left {
  float: left;
}

#right {
  float: right;
}

form {
  text-align: center;
}


table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #091100;
  border-style: solid;
  color: #333;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #030303;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #000000;
  color: #ffffff;
}

body {
  /* background: url('/Assets/images/background2.png') center center/cover; */
  background:radial-gradient(white,rgba(201, 213, 233, 0.43),rgb(239, 165, 177));
  background-repeat: no-repeat;
}


.about-container{
  max-width:1200px ;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: center;
}
.about-container>div{
  padding: 20px;
}
.about-container{
  display: flex;
}
.image-about-container{
  width: 30%;
}
.image-about-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.538) 0px 13px 27px -5px, rgba(0, 0, 0, 0.479) 0px 8px 16px -8px;
}
.image-about-content{
  width: 60%;
}
.image-about-content{
  display: grid;
  place-items: center;
  margin-bottom: 35px;
}
.edit-form-inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.edit-form-inputs>div {
  width: 49.5%;
}

.jumbotron {
  margin: 25px;
}

.align-center {
  min-height: 90vh;
  display: grid;
  place-items: center;
}
body{
  position: relative;
}

footer {
  background-color: rgb(17, 17, 17);
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  padding: 10px;
}

/* style=" */
@media screen and (min-width:1000px) {
  #navbarSupportedContent {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}
@media screen and (max-width:1000px) {
  .about-container{
   flex-direction: column;
  }
  .image-about-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .image-about-content{
    width: 100%;
   display: grid;
   place-items: center;
  }
  .image-about-container img{
    width: 200px;
    height: 200px;
    text-align: center;
  }
}